.bg{
        background-color:blue;
        height:40rem;
        width:20vh;
        transition: all .3s;
}
.expand{
        width:40vh;
}

.hide{
        display:none;
}
tr:hover{
        background-color:green;
}